<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="https:////ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    const endpoint = "{{ url_for(request.endpoint) }}"
    const url = new URL("{{ request.url }}");

    const users = '{{ users | tojson | safe }}';
  </script>
  <style>
    body {
      padding: 3rem;
      font-size: 16px;
    }
    textarea {
      width: 100%;
      min-height: 6rem;
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 0.8rem;
      line-height: 1.2;
    }
  </style>
</head>

<body>
  <textarea name="" id="myTextarea"></textarea>
  {% for user in users %}
  <div>
    <script>
      var username = "{{ user['username'] }}"
      var password = "{{ user['password'] }}"
      var desiredLink = url.protocol + "//" + username + ":" + password + "@" + url.host + "/strategies";
      var desiredText = username
      $('body').append($('<h1><a href="'+desiredLink+'">'+desiredText+'</a></h1>'));
    </script>
  </div>
  {% endfor %}
</body>
<script>
  $(document).ready(function () {
    $('#myTextarea').text(users);
  });
</script>

</html>