<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js></script>
  <script>
    const endpoint = "{{ url_for(request.endpoint) }}"
    const url = new URL("{{ request.url }}");

    const users = JSON.parse('{{ users | tojson | safe }}');
  </script>
  <style>
    body {
      padding: 3rem;
      font-size: 16px;
    }
    textarea {
      width: 100%;
      min-height: 21rem;
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 0.8rem;
      line-height: 1.2;
    }
  </style>
</head>

<body>
  <textarea name="" id="myTextarea"></textarea>
  {% for user in users %}
  <div>
    <script>
      var username = "{{ user['username'] }}"
      var password = "{{ user['password'] }}"
      var desiredLink = "http://" + username + ":" + password + "@" + url.host + "/api/v1.0/strategies/html";
      var desiredText = username
      $('body').append($('<h1><a href="'+desiredLink+'">'+desiredText+'</a></h1>'));
    </script>
  </div>
  {% endfor %}
</body>
<script>
  $(document).ready(function () {
    var textedJson = JSON.stringify(users, undefined, 4).replace(/\\"/g, '"');
    $('#myTextarea').text(textedJson);
  });
</script>

</html>