<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="static/jquery-3.5.1.min.js"></script>
  <script>
    const endpoint = "{{ url_for(request.endpoint) }}"
    const url = new URL("{{ request.url }}");
    const users = '{{ users | tojson | safe }}';
  </script>
  <link rel="stylesheet" href="static/css/textarea.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <textarea name="" id="myTextarea"></textarea>

  {% for user in users %}
  <div>
    <script>
      var username = "{{ user['username'] }}"
      var password = "{{ user['password'] }}"
      var desiredLink = url.protocol + "//" + username + ":" + password + "@" + url.host + "/";
      var desiredText = username
      $('body').append($('<h1><a href="'+desiredLink+'">'+desiredText+'</a></h1>'));
    </script>
  </div>
  {% endfor %}

</body>
<script>
  var csrf_token = "{{ csrf_token() }}";
  $.ajaxSetup({
    beforeSend: function (xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
      }
    }
  });
  $(document).ready(function () {
    $('#myTextarea').text(users);
  });
</script>

</html>